@media screen and ( max-width: 1200px )
  html 
    font-size: 12px
  .nav
    &__item
      margin-right: 2.14rem
  .contacts 
    &__phone 
      margin-right: 2rem



@media screen and ( max-width: 992px )
  .nav 
    display: none
  .instagram 
    display: none
  

@media screen and ( max-width: 576px )
  .nav
    padding-top: 1.642rem
  .header
    padding-top: 1.90rem
    padding-bottom: 1.90rem
    font-size: 0.857rem
  .contacts 
    &__button 
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .hero
    padding-top: 4.4rem
    // max-height: 530px
    &::after
      display: none 
    &__title
      margin-bottom: 1rem
      font-size: 1.642rem
      line-height: 2.5rem
      max-width: 300px
    &__text
      margin-right: 2.8rem
      margin-bottom: 3rem
      font-size: 1.285rem
      line-height: 2rem
    &__scroll-down
      display: none
    &__buttons
      display: flex
      flex-direction: column
    &__button
      padding: 1.33rem
      margin-right: 0
  .button
    &--primary
      margin-bottom: 1.857rem
    
      
    